.slds-badge {
  font-size: var(--slds-c-badge-font-size, 0.7rem);
}

.customIcon {
  width: 35px;
  height: 35px;
  margin: 6px;
  border-radius: 6px;
}

.spacingCard {
  --sds-c-card-header-spacing-block-end: 0;
  --sds-c-card-body-spacing-block-start: 0;
  --sds-c-card-body-spacing-block-end: 0;
}
